.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: right;
  font-size: 10px;
  padding: 5px;
  width: 100%;
  height: 30px;
  background-color: #347ebf;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.wafer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
  padding: 1px;
  width: 100%;
  height: 25px;
  color: white;
  background-color: #347ebf;
}

.wafer1 {
  display: flex;
  justify-content: space-between;
  align-items: right;
  font-size: 8px;
  padding: 1px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #347ebf;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation > li {
  list-style-type: none;
  padding: 2px;
}

.navigation > li > a {
  color: white;
  font-size: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation>li>a:hover {
  color: black;
  transtition: all .3s ease-in-out
}

.navigation-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-footer > li {
  list-style-type: none;
  padding: 5px;
}

.navigation-footer > li > a {
  color: white;
  font-size: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-footer>li>a:hover {
  color: black;
  transtition: all .3s ease-in-out
}
