        <!-- Navigation -->
        {% include topnav %>
        <nav class="wrapper">
        <div class="fa fa-home fa-lg brand"><a href="berita.html">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>
         <ul class="navigation">
            <li><a href="https://www.facebook.com/info.lowongan.kerja.kalimantan"><img src="/images/facebook.png" alt="facebook" style="width:30px;height:30px;"></a></li>
            <li><a href="https://www.instagram.com/clashmwns"><img src="/images/instagram.png" alt="instagram" style="width:30px;height:30px;"></a></li>
            <li><a href="https://www.tiktok.com/@mwns92"><img src="/images/tiktok.png" alt="tiktok" style="width:30px;height:30px;"></a></li>
            <li><a href="https://www.youtube.com/@mwnsofficial"><img src="/images/youtube.png" alt="youtube" style="width:30px;height:30px;"></a></li>
         </ul>
        </div>
        {% endif %}
