<!-- Navigation -->
  <nav class="wrapper">
       <ul class="navigation">
           <li class="fa fa-home fa-lg brand"><a href="berita.html">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a></li>
           <li class="fa fa-facebook fa-lg brand"><a href="https://www.facebook.com/info.lowongan.kerja.kalimantan">facebook</li>
           <li class="fa fa-instagram fa-lg brand"><a href="https://www.instagram.com/clashmwns">instagram</li>
           <li class="fa fa-youtube fa-lg brand"><a href="https://www.youtube.com/@mwnsofficial">youtube</li>
       </ul>
    </div>
  </nav>
